# Ignore ENV files
.env
terraform.tfvars

# Ignore Terraform state files
.terraform
terraform.tfstate
terraform.tfstate.backup

# Ignore Google Cloud credentials
docker/bind

# Ignore zip files
google-cloud/notification/src/function_source.zip
