name: local

services:
  terraform:
    build:
      context: ./docker/build
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - type: bind
        source: .
        target: /home/terraform/workspace
      - type: bind
        source: ./docker/bind/gcloud
        target: /home/terraform/.config/gcloud
    working_dir: /home/terraform/workspace

  prettier:
    image: tmknom/prettier
    volumes:
      - type: bind
        source: .
        target: /workspace
    working_dir: /workspace

  yamllint:
    image: cytopia/yamllint
    volumes:
      - type: bind
        source: .
        target: /workspace
    working_dir: /workspace

  golang:
    build:
      context: ./docker/build
      dockerfile: Dockerfile.golang
    volumes:
      - type: bind
        source: ./google-cloud/notification
        target: /home/go/app
    working_dir: /home/go/app
