name: local

services:
  terraform:
    build:
      context: ./docker/build
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - type: bind
        source: .
        target: /home/terraform/workspace
      - type: bind
        source: ./docker/bind/gcloud
        target: /home/terraform/.config/gcloud
    working_dir: /home/terraform/workspace

  prettier:
    image: tmknom/prettier@sha256:31684fd957f78ddebd0fc003f2790da08bd7a41cfe1146912da43a114fbeebf9
    volumes:
      - type: bind
        source: .
        target: /workspace
    working_dir: /workspace

  yamllint:
    image: cytopia/yamllint@sha256:3e9eb827ab2b12a5ea5f49d4257bb3aca94bba9f1ba427c8bc7f2456385a5204
    volumes:
      - type: bind
        source: .
        target: /workspace
    working_dir: /workspace

  golang:
    build:
      context: ./docker/build
      dockerfile: Dockerfile.golang
    environment:
      - FIRESTORE_EMULATOR_HOST=firestore:8080
      - DATASTORE_EMULATOR_HOST=firestore:8080
      - GOOGLE_CLOUD_PROJECT=dummy-project-id
    networks:
      - local-db
    volumes:
      - type: bind
        source: ./google-cloud/notification/src
        target: /home/go/app
    working_dir: /home/go/app

  firestore:
    build:
      context: ./docker/build
      dockerfile: Dockerfile.firestore
    volumes:
      - type: bind
        source: ./docker/bind/gcloud
        target: /home/firestore/.config/gcloud
    networks:
      - local-db
    ports:
      - "8080:8080"
    command: gcloud emulators firestore start --host-port=0.0.0.0:8080

networks:
  local-db:
