name: Check Go Files

on:
  push:
    paths:
      - "google-cloud/notification/src/**"
    branches-ignore:
      - main

env:
  WORKING_DIRECTORY: google-cloud/notification/src

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go and Task
        uses: ./.github/actions/setup-go-task
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}

      - name: Run Lint Task
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: task lint-check

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go and Task
        uses: ./.github/actions/setup-go-task
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}

      - name: Run Test Task
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: task test

  format-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go and Task
        uses: ./.github/actions/setup-go-task
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}

      - name: Run Format Check Task
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: task format-check
