name: Terraform

on:
  workflow_run:
    workflows: ["Check Yaml Files"]
    types:
      - completed
  workflow_dispatch:

jobs:
  format-check:
    name: Terraform Format Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3

      - name: Format Terraform code
        run: terraform fmt -check -recursive -diff

  validate:
    name: Terraform Validate
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
      SERVICE_ACCOUNT: ${{ secrets.SERVICE_ACCOUNT }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3

      - name: Google Cloud認証
        uses: ./.github/actions/auth-google-cloud

      - name: Terraform Init
        run: terraform -chdir=google-cloud init

      - name: Terraform Validate
        run: terraform -chdir=google-cloud validate

  lint:
    name: Terraform Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v6
        with:
          tflint_version: v0.55.0

      - name: Run tflint
        run: |
          tflint --init
          tflint --recursive

  security-scan:
    name: Security Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Trivy
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: fs
          scan-ref: "."
          format: table
          exit-code: "1"
          severity: CRITICAL,HIGH,MEDIUM,LOW
          scanners: config,secret,vuln
