name: Terraform

on:
  push:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  yamllint:
    name: Yaml Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7
        with:
          python-version: "3.14.2"
          version: "0.9.28"

      - name: Run yamllint
        run: uv tool run yamllint@1.35.1 .

  prettier:
    name: Prettier Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24

      - name: Run Prettier
        run: npx prettier@3.8.0 --check .

  format-check:
    name: Terraform Format Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Terraform
        uses: ./.github/actions/setup-terraform

      - name: Format Terraform code
        run: terraform fmt -check -recursive -diff

  lint:
    name: Terraform Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Terraform
        uses: ./.github/actions/setup-terraform

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6
        with:
          tflint_version: v0.55.0 # renovate: datasource=github-releases depName=terraform-linters/tflint

      - name: Run tflint
        run: |
          tflint --init
          tflint --recursive

  security-scan:
    name: Security Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Trivy
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          version: v0.68.2 # renovate: datasource=github-releases depName=aquasecurity/trivy
          scan-type: fs
          scan-ref: "."
          format: table
          exit-code: "1"
          severity: CRITICAL,HIGH,MEDIUM,LOW
          scanners: misconfig,secret,vuln
          trivyignores: .trivyignore

  terraform:
    permissions:
      contents: read
      id-token: write
    needs:
      - yamllint
      - prettier
      - format-check
      - lint
      - security-scan
    uses: ./.github/workflows/terraform.yaml
    secrets: inherit
