name: Terraform Apply to Google Cloud

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  terraform-apply:
    name: Terraform Apply
    runs-on: ubuntu-latest
    concurrency:
      group: terraform-apply
      cancel-in-progress: true
    permissions:
      contents: read
      id-token: write
    env:
      WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
      SERVICE_ACCOUNT: ${{ secrets.SERVICE_ACCOUNT }}
      TF_VAR_project_id: ${{ secrets.GOOGLE_CLOUD_PROJECT_ID }}
      TF_VAR_project_number: ${{ secrets.GOOGLE_CLOUD_PROJECT_NUMBER }}
      TF_VAR_billing_account_id: ${{ secrets.GOOGLE_CLOUD_BILLING_ACCOUNT }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3

      - name: Google Cloud認証
        uses: ./.github/actions/auth-google-cloud

      - name: Terraform Init
        run: terraform -chdir=google-cloud init

      - name: Terraform Plan
        id: plan
        run: |
          set +e # エラーでも止まらないようにする
          terraform -chdir=google-cloud plan -detailed-exitcode -input=false
          exitcode=$?

          if [ $exitcode -eq 2 ]; then
            echo "差分を検知しました。Applyを準備します。"
            echo "has_changes=true" >> $GITHUB_OUTPUT
            exit 0
          elif [ $exitcode -eq 0 ]; then
            echo "差分はありません。Applyをスキップします。"
            echo "has_changes=false" >> $GITHUB_OUTPUT
            exit 0
          else
            echo "Terraform Planでエラーが発生しました。"
            exit 1
          fi

      - name: Terraform Apply
        if: steps.plan.outputs.has_changes == 'true'
        run: terraform -chdir=google-cloud apply -auto-approve -input=false
